*{
    margin: 0;
    padding: 0;
}

body {
    font-family: arial,sans-serif;
}

.nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    margin-top: 10px;
       
}

.menu__sencillo{
    border: none;
    background: none; 
}

.menu__botones{
    border: none;
    background: none;
}

.menu__azul{
    background:  #1a73e8;
    color: white;
    border: 1px solid transparent;
    border-radius: 2px;
}
.buscador__boton{
    background-color: #dce4ee;
    transition: 0.5s;
    border-radius: 10px;
    border:none;
    height:30px;
    display:flex;
    align-items:center;
    padding: 5px;
}

.buscador__boton:hover {
    background-color: #ccd1d8;
}

.titulo_contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formato_busqueda {
    border: 1px solid;
    border-radius: 15px;
    display:flex;
    padding:5px;
    align-items: center;
}

#input_busqueda{
    height: 36px;
    font-size: 13pt;
    width: 400px;
    border:none;
    margin-left: 10px;
}

textarea:focus, input:focus{
    outline: none;
}

.botones_busqueda {
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin: 15px 0;
}

.pie_de_pagina{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
}

.locacion{
    display:flex;
    align-items: center;
    height: 50%;
    color: #70757a;
    border-bottom: 2px solid #70757a;
}

.locacion p{
    margin-left: 30px;
}

.links_informacion{
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.info_izquierda{
    display: flex;
    justify-content:space-around;
    width: 40%;
    align-items: center;

}

.info_derecha{
    display: flex;
    justify-content:space-around;
    width: 25%;
    align-items: center;

}

.links_informacion a{
    text-decoration: none;
    color: #70757a;
    transition: 0.5s;
}

.links_informacion a:hover{
    text-decoration: underline;
    
}