.menu{
    display: flex;
    justify-content: flex-end;
}
.menu__sencillo{
    border: none;
    background: none;
}
.menu__botones{
    border: none;
    background: none;
}
.menu__azul{
   background:  #1a73e8;
   color: white;
   border: 1px solid transparent;
   border-radius: 2px;
}